@import "../../global.scss";

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: white;

  @include mobile {
    justify-content: space-around;
    flex-direction: column;
  }
  .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;

    .left-card.bg {
      position: absolute;
      top: 40px;
      left: 80px;
      background: #e7eefe;

      @include mobile {
        top: 80px;
        left: 0px;
      }
    }
    .left-card {
      width: 60%;
      height: 70vh;
      border-radius: 30px;
      position: relative;
      overflow: hidden;

      @include mobile {
        width: 320px;
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .right {
    flex: 1;

    h1 {
      @include mobile {
        text-align: center;
      }
    }

    .sub {
      margin: 20px 0px;
      font-size: 20px;
      font-weight: 600;

      @include mobile {
        text-align: center;
      }
    }

    .desc {
      font-weight: 300;
      font-size: 18px;
      width: 70%;
      line-height: 1.5;

      @include mobile {
        font-size: 16px;
        text-align: center;
        width: 90%;
        display: flex;
      }
    }
  }
}
